* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.contener {
    width: 100%;
    background-color: #0c0b08;
}
.contener .dadlog {
    background-image: url(../foto/black.png);
    background-size: cover;
}
.contener .log {
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    font-family: Cormorant Upright;
}
.contener .log .box h1 {
    font-size: 44px;
    font-family: Cormorant Upright;
}
.contener .log .box2 {
    display: flex;
    gap: 20px;
}
.contener .log .box3 {
    display: flex;
    gap: 15px;
}
.contener .hero {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
    color: red;
    position: relative;
    font-family: Cormorant Upright;
}
.contener .hero .position {
    position: absolute;
    left: 20px;
    top: 300px;
    transform: rotate(-0.25turn);
    display: flex;
    gap: 15px;
    color: #ffffff;
    font-size: 18px;
}

.contener .hero .box .wer {
    background-image: url(../foto/blok.png);
    background-size: cover;
    width: 634px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contener .hero .box .wer h1 {
    position: absolute;
    font-size: 181px;
    font-family: "Cormorant Upright";
    color: #ffffff;
}
.contener .book {
    width: 100%;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.contener .book .soat {
    position: absolute;
    right: 150px;
    top: -20px;
}
.contener .book .table {
    width: 70%;
    border: solid 2px rgb(61, 60, 60);
    text-align: center;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 50px 0;
}
.contener .book .table h1 {
    color: #dcca87;
    font-size: 64px;
    font-family: "Cormorant Upright";
}
.contener .book .table .res {
    font-family: "Cormorant Upright";
}
.contener .book .table button {
    width: 130px;
    height: 44px;
    background-color: #dcca87;
    font-family: "Cormorant Upright";
}
.contener .book .table .inputtayp {
    border: solid 2px transparent;
    padding: 50px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.contener .book .table .inputtayp .box {
    width: 380px;
    height: 50px;
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: #aaaaaa;
}
.contener .book .table .inputtayp .box .chevron {
    padding: 8px 10px;
}
.contener .book .table .inputtayp .box .chevron:hover i {
    -webkit-animation: 1s infinite linear;
    animation: 1s infinite linear;
    padding-top: 15px;
    color: azure;
}
.contener .kran {
    width: 100%;
    background-image: url(../foto/black.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border: solid transparent 2px;
    padding-top: 150px;
    position: relative;
}
.contener .kran .soat {
    position: absolute;
    top: 0;
    left: 150px;
}
.contener .kran .left {
    border: solid transparent 2px;
    width: 30%;
    display: flex;
    justify-content: right;
}
.contener .kran .rayt {
    border: solid transparent 2px;
    width: 35%;
}
.contener .kran .rayt .botton {
    padding: 50px 0;
}
.contener .kran .rayt p {
    font-size: 23px;
    color: #ffffff;
    font-family: "Cormorant Upright";
}

.contener .kran .rayt h2 {
    color: #dcca87;
    font-size: 64px;
    font-family: "Cormorant Upright";
}

.contener .kran .rayt .Adip {
    color: #aaaaaa;
    font-size: 16px;
    padding: 25px 0;
}
.contener .kran .rayt button {
    width: 141px;
    height: 44px;
    font-size: 16px;
    background-color: #dcca87;
    border: none;
}

.contener .vibi {
    width: 100%;
    background-color: #0c0b08;
    text-align: center;
    padding: 150px;
    font-family: "Cormorant Upright";
}
.contener .vibi .kaktel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contener .vibi .kaktel .box {
    width: 410px;
    height: 600px;
    border: 1px solid #6b6757;
    overflow: hidden;
}
.contener .vibi .kaktel .bir {
background-image: url(../foto/piva02.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contener .vibi .kaktel .bir h3 {
    color: #ffffff;
    font-size: 45px;
}

.contener .vibi .vip {
    color: #ffffff;
    font-size: 23px;
}

.contener .vibi .goldh2 {
    color: #dcca87;
    font-size: 64px;
    padding-bottom: 50px;
}
.contener .bayram {
    width: 100%;
    height: 100vh;
    background-image: url(../foto/happy\ hors.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.contener .bayram .happy h1 {
    font-size: 181px;
    font-family: "Cormorant Upright";
    color: #dcca87;
}
.contener .bayram .happy p {
    font-size: 32px;
    font-family: "Cormorant Upright";
    color: #ffffff;
    padding: 20px;
}

.contener .kubuk {
    width: 100%;
    border: solid 2px transparent;
    text-align: center;
    padding: 100px;
    position: relative;
}
.soat2 {
    position: absolute;
    top: 70px;
    right: 240px;
}
.soat1 {
    position: absolute;
    bottom: -50px;
    left: 100px;
    z-index: 99;
}
.contener .kubuk .kubukButton {
    background-color: #dcca87;
    font-size: 16px;
    font-family: "Cormorant Upright";
    border: none;
    width: 136px;
    height: 44px;
    margin: 40px;
}
.contener .kubuk .menu {
    font-size: 23px;
    font-family: "Cormorant Upright";
    color: #ffffff;
}
.contener .kubuk .menuh1 {
    font-size: 64px;
    font-family: "Cormorant Upright";
    color: #dcca87;
    padding-bottom: 50px;
}
.contener .kubuk .gibdad {
    border: solid 2px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contener .kubuk .gibdad .gib1 {
    width: 400px;
    border: solid 2px transparent;
}
.contener .kubuk .gibdad .gib1 h1 {
    font-size: 45px;
    color: #fff;
    font-family: "Cormorant Upright";
    padding: 30px;
}
.contener .kubuk .gibdad .gib1 .box {
    border: solid 2px transparent;
    color: rgb(248, 248, 248);
    padding: 15px;
}
.contener .kubuk .gibdad .gib1 .box .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 15px 0;
}
.contener .kubuk .gibdad .gib1 .box .top span {
    width: 119px;
    height: 1px;
    background-color: white;
}
.contener .kubuk .gibdad .gib1 .box .top .pgold {
    text-align: left;
    width: 180px;
    color: #dcca87;
    font-family: "Cormorant Upright";
}
.contener .kubuk .gibdad .gib1 .box .botton {
    text-align: left;
}
.contener .kubuk .gibdad .gib1 .box .botton p {
    color: #aaaaaa;
}
.contener .kubuk .gibdad .gib3 {
    width: 400px;
    border: solid 2px transparent;
}
.contener .kubuk .gibdad .gib3 h1 {
    font-size: 45px;
    color: #fff;
    font-family: "Cormorant Upright";
}
.contener .kubuk .gibdad .gib3 .box {
    border: solid 2px transparent;
    color: rgb(248, 248, 248);
    padding: 15px;
}
.contener .kubuk .gibdad .gib3 .box .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 15px 0;
}
.contener .kubuk .gibdad .gib3 .box .top span {
    width: 119px;
    height: 1px;
    background-color: white;
}
.contener .kubuk .gibdad .gib3 .box .top .pgold {
    text-align: left;
    width: 180px;
    color: #dcca87;
    font-family: "Cormorant Upright";
}
.contener .kubuk .gibdad .gib3 .box .botton {
    text-align: left;
}
.contener .kubuk .gibdad .gib3 .box .botton p {
    color: #aaaaaa;
}

.contener .hero {
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: 100%;
    color: red;
    position: relative;
    font-family: Cormorant Upright;
    background-image: url(../foto/black.png);
    background-size: cover;
}

.contener .hero .left {
    padding: 100px;
    border: solid 2px transparent;
    width: 40%;
    font-size: 16px;
    color: #aaaaaa;
}
.contener .hero .left .chase {
    font-size: 20px;
    color: #ffffff;
}
.contener .hero .left p {
    padding-bottom: 20px;
}
.contener .hero .left .gold {
    color: #dcca87;
    font-family: Cormorant Upright;
}

.contener .hero .left h2 {
    font-size: 70px;
    color: #dcca87;
    padding-bottom: 20px;
    font-family: Cormorant Upright;
}
.contener .hero .left button {
    width: 119px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcca87;
    font-family: Cormorant Upright;
}
.contener .hero .rayt {
    position: relative;
    width: 45%;
    border: solid transparent;
}
.contener .hero .rayt .bir {
    width: 500px;
    height: 550px;
    background-color: transparent;
    position: relative;
    margin: 40px;
    overflow: hidden;
    border: solid transparent 2px;
}
.contener .hero .rayt .bir .boxlar1 {
    width: 350px;
    height: 350px;
    background-color: #dcca87;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-animation: box1 5s infinite linear;
    animation: box1 5s infinite linear;
}
.contener .hero .rayt .bir .boxlar2 {
    width: 350px;
    height: 350px;
    background-color: #dcca87;
    -webkit-animation: box2 5s infinite linear;
    animation: box2 5s infinite linear;
}
.contener .hero .rayt .imgbox .imgaim1 {
    position: absolute;
    top: 0;
    width: 460px;
    margin: 20px;
    -webkit-animation: img 1s 1s linear;
    animation: img 1s 1s linear;
    z-index: 2;
}
.contener .hero .rayt .imgbox .imgaim3 {
    position: absolute;
    width: 460px;
    margin: 20px;
    top: 0;
    -webkit-animation: img3 3s 2s linear;
    animation: img3 3s 2s linear;
    z-index: 1;
}
.contener .hero .rayt .imgbox .imgaim2 {
    position: absolute;
    width: 460px;
    margin: 20px;
    top: 0;
    -webkit-animation: img2 3s 3s linear;
    animation: img2 3s 3s linear;
    z-index: 0;
}
.contener .hero .rayt .sapn {
    display: flex;
    gap: 500px;
    color: #ffffff;
}
.contener .hero .rayt .sapn .gold {
    font-size: 20px;
    color: #dcca87;
    font-family: "Cormorant Upright";
}

.contener .final {
    width: 100%;

    position: relative;
    display: grid;
}
.contener .final .soat5 {
    position: absolute;
    top: 40px;
    right: 250px;
}
.contener .final .top {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.contener .final .top .poition {
    position: absolute;
    top: 110px;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    width: 1300px;
    background: #0c0c0c;
    border: 1px solid rgba(220, 202, 135, 0.2);
    text-align: center;
    padding: 60px;
    font-family: "Cormorant Upright";
}
.contener .final .top .poition p {
    color: #ffffff;
    font-size: 23px;
}
.contener .final .top .poition h1 {
    font-size: 64px;
    color: #dcca87;
    padding: 20px;
}
.contener .final .top .poition .roboto {
    font-family: "Roboto", sans-serif;
}
.contener .final .top .poition .inp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}
.contener .final .top .poition .inp input {
    width: 635px;
    height: 60px;
    background-color: #0c0c0c;
    border: 1px solid #f5efdb;
}
.contener .final .top .poition .inp button {
    width: 129px;
    height: 44px;
    background-color: #dcca87;
    font-family: "Cormorant Upright";
}
.contener .final .bottom {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../foto/black.png);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contener .final .bottom .GeriÃÅcht {
    position: absolute;
    padding: 100px;
    color: #aaa;
    border: solid transparent;
}
.contener .final .bottom .dadclas {
    padding: 100px;
    border: solid transparent;
}
.contener .final .bottom .dadclas .dadbox {
    padding: 200px;
    display: flex;
    text-align: center;
    gap: 100px;
    border: solid transparent;
}
.contener .final .bottom .dadclas .dadbox .box p {
    font-family: Open Sans;
    padding: 20px;
    color: #aaaaaa;
    font-size: 16px;
}
.contener .final .bottom .dadclas .dadbox .box .pgold {
    color: #fff;
}
.contener .final .bottom .dadclas .dadbox .box h3 {
    font-size: 32px;
    color: #f5efdb;
    font-family: "Cormorant Upright";
}
.contener .final .bottom .dadclas .dadbox .box .gold {
    font-family: "Cormorant Upright";
    font-size: 64px;
    color: #dcca87;
}
.contener .final .bottom .dadclas .dadbox .box .drend {
    border: solid transparent;
}
.contener .final .bottom .dadclas .dadbox .box .drend ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@-webkit-keyframes box1 {
    0% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    25% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    30% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    50% {
        position: absolute;
        bottom: 36.5%;
        right: 30%;
    }
    55% {
        position: absolute;
        bottom: 36.5%;
        right: 30%;
    }
    75% {
        position: absolute;
        bottom: 36.5%;
        right: 0%;
    }
    80% {
        position: absolute;
        bottom: 36.5%;
        right: 0%;
    }
    95% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    100% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@keyframes box1 {
    0% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    25% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    30% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    50% {
        position: absolute;
        bottom: 36.5%;
        right: 30%;
    }
    55% {
        position: absolute;
        bottom: 36.5%;
        right: 30%;
    }
    75% {
        position: absolute;
        bottom: 36.5%;
        right: 0%;
    }
    80% {
        position: absolute;
        bottom: 36.5%;
        right: 0%;
    }
    95% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    100% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@-webkit-keyframes box2 {
    0% {
        position: absolute;
        top: 0;
        left: 0;
    }
    25% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    30% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    50% {
        position: absolute;
        top: 36.4%;
        left: 30%;
    }
    55% {
        position: absolute;
        top: 36.4%;
        left: 30%;
    }
    75% {
        position: absolute;
        top: 36.4%;
        left: 0%;
    }
    80% {
        position: absolute;
        top: 36.4%;
        left: 0%;
    }
    95% {
        position: absolute;
        top: 0;
        left: 0;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;
    }
}
@keyframes box2 {
    0% {
        position: absolute;
        top: 0;
        left: 0;
    }
    25% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    30% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    50% {
        position: absolute;
        top: 36.4%;
        left: 30%;
    }
    55% {
        position: absolute;
        top: 36.4%;
        left: 30%;
    }
    75% {
        position: absolute;
        top: 36.4%;
        left: 0%;
    }
    80% {
        position: absolute;
        top: 36.4%;
        left: 0%;
    }
    95% {
        position: absolute;
        top: 0;
        left: 0;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;
    }
}
@-webkit-keyframes box3 {
    0% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    25% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    30% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    50% {
        position: absolute;
        bottom: 43.5%;
        right: 30%;
    }
    55% {
        position: absolute;
        bottom: 43.5%;
        right: 30%;
    }
    75% {
        position: absolute;
        bottom: 43.5%;
        right: 0%;
    }
    80% {
        position: absolute;
        bottom: 43.5%;
        right: 0%;
    }
    95% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    100% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@keyframes box3 {
    0% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    25% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    30% {
        position: absolute;
        bottom: 0;
        right: 30%;
    }
    50% {
        position: absolute;
        bottom: 43.5%;
        right: 30%;
    }
    55% {
        position: absolute;
        bottom: 43.5%;
        right: 30%;
    }
    75% {
        position: absolute;
        bottom: 43.5%;
        right: 0%;
    }
    80% {
        position: absolute;
        bottom: 43.5%;
        right: 0%;
    }
    95% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    100% {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@-webkit-keyframes box4 {
    0% {
        position: absolute;
        top: 0;
        left: 0;
    }
    25% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    30% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    50% {
        position: absolute;
        top: 45%;
        left: 30%;
    }
    55% {
        position: absolute;
        top: 45%;
        left: 30%;
    }
    75% {
        position: absolute;
        top: 46%;
        left: 0%;
    }
    80% {
        position: absolute;
        top: 46%;
        left: 0;
    }
    95% {
        position: absolute;
        top: 0;
        left: 0;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;
    }
}
@keyframes box4 {
    0% {
        position: absolute;
        top: 0;
        left: 0;
    }
    25% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    30% {
        position: absolute;
        top: 0;
        left: 30%;
    }
    50% {
        position: absolute;
        top: 45%;
        left: 30%;
    }
    55% {
        position: absolute;
        top: 45%;
        left: 30%;
    }
    75% {
        position: absolute;
        top: 46%;
        left: 0%;
    }
    80% {
        position: absolute;
        top: 46%;
        left: 0;
    }
    95% {
        position: absolute;
        top: 0;
        left: 0;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;
    }
}
